<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.example.tp4.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>hello.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.example.tp4.RedirectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.rsv.servlet.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>com.rsv.servlet.ReservationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/reservation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Formulaire</servlet-name>
        <servlet-class>com.example.tp4.Controller.FormController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Formulaire</servlet-name>
        <url-pattern>/Formulaire</url-pattern>
    </servlet-mapping>
</web-app>